# 빌드, 설치, 로그 폴더 무시
**/build/
**/install/
**/log/

# ROS 2 관련 빌드 폴더
Arduino_Control/ros2_con/build/
Arduino_Control/ros2_con/install/
Arduino_Control/ros2_con/log/
control_ws/ros2_con/build/
control_ws/ros2_con/install/
control_ws/ros2_con/log/
lidar_ws/log/
YOLO_ws/log/

# 캐시 및 임시 파일 무시
*.pyc
*.pyo
__pycache__/
*.swp
.~lock.*

# 패키지 관련 불필요한 파일
*.egg-info/
*.so
*.a
*.o

# CMake 관련 파일
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

# 가상 환경
venv/
.env/

# Colcon 빌드 로그 및 설정 파일
/colcon.log
/.colcon_install_layout
/.colcon_build.rc

